
<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" placeholder="E.g. 5.42" name="apr">
    <label for="years">Number of years</label>
  <input id="years" type="text" placeholder="years to repay" name="num_years">
      <label for="principal">Principal</label>
  <input id="principal" type="text" placeholder="Payment as principal" name="principal">

  <button>Calculate monthly payment</button>
</form>
