
<form action="/random/results">
  <label for="minimum">Enter Minimum</label>
  <input id="minimum" type="text" placeholder="type number here" name="user_min">
    <label for="maximum">Enter Maximum</label>
  <input id="maximum" type="text" placeholder="type number here" name="user_max">

  <button type="submit">Pick random number</button>
</form>
