
<form action="/root/results">
  <label for="number">Enter a number</label>
  <input id="number" type="text" placeholder="type number here" name="calculate_root">

  <button>Calculate Square Root</button>
</form>
