<form action="/square/results">
  <label for="number">Enter a number</label>
  <input id="number" type="text" placeholder="type number here" name="calculate_square">

  <button>Calculate Square</button>
</form>
